.loginpage{
    border: 1px black solid;
    width: 500px;
    margin: 0 auto;
     
}

.list{
    display: block;
    margin: 0 auto;
}

.list {
    list-style: none;
}

.month {
    /* width: 60px; */
}

.day {
    width: 50px;
}