@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

html{
  font-size: 10px;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, li {
  list-style: none;
}

.wrap {
  width: 1000px;
  margin: 0 auto;
}

.board_list {
  width: 100%;
  border-top: 1px solid black;
  border-collapse: collapse;
  font-size: 1.5rem;
}

.board_list caption {
     margin: 30px;
     font-weight: bold;
}

.board_list th, td {
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px;
  border-spacing: 0;
}
