@charset "utf-8" ;

/* 초기화속성 */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

ul,li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* 공통 */

.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a{
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
    text-align: center;
}

.bt_wrap a:hover {
    text-decoration: underline;
}

.bt_wrap a.on{
    background: #000;
    color: #fff;
}