@charset "utf-8" ;

* {
    margin: 0;
    padding: 0%;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style: none;
}


.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0px;
}

.bt_wrap a {
    display: inline-block;
    font-size: 1.4rem;
    border: 1px solid #4444;
    padding: 10px;
    min-width: 80px;
    border-radius: 4px;
    margin-left: 10px;
    text-align: center;
}

.bt_wrap a:hover {
    text-decoration: underline;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
  }

.wrap{
    
}